body{
    margin:0 auto;
    background-image: url(../images/leading-24px.png);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-top: 0;
    margin-bottom: 1.5em; /*16 x 1.5 = 24 */
    font-size: 16px;
    line-height: 1.5; /*16 x 1.5 = 24 */
    color:#0047BA;
    letter-spacing: -0.005em; /* px/1000 = em */
    font-family: "Spoqa Han Sans"
    }